<style>

    body {
        display: grid;
        grid-template-areas: 
        "nav"
        "main";
        grid-template-rows: 15%;
        grid-template-columns: 1fr;
        background-color: var(--main-bg);
    }

    nav {
        top: 0;
        position: sticky;
        z-index: 1000;
    }

    /* Start Universal Styles */
    p, span:not(.you), li {
        font-family: "Source Sans 3", serif;
    }

    h1, h2, h3, h4, h5, h6 {
        font-family: "Poppins", serif;;
    }

    /* End universal Styles*/

    /* Start super nav */

    .super-nav {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        color: var(--nav-text-color);
        align-items: center;
    }

    /* End super nav*/

    /* Start Nav */
    nav {
        grid-area: nav;
        background-color: var(--nav-bg);
    }

    .super-nav {
        height: 25%;
        background-color: var(--accent);
    }

    .nav-wrapper {
        display: grid;
        grid-template-columns: auto auto auto;
        align-items: center;
        height: 75%;
        color: var(--nav-text-color);
    } 

        /* Start Logo */

        .logo {
            text-align: right;
            padding-right: 2em;
            font-size: 2.5em;
        }

        /* End logo */
        /* Start Search bar */
        .search {
            display: flex;
            flex-direction: column;
            flex-grow: 1; 
            justify-content: center;
            position: relative;
            max-width: 100%;
            min-width: 0;
        }
        
        .search-bar {
            flex: 1 1 auto;
            min-width: 10em;
            max-width: 40em;
            height: 2em;
            border-radius: 0.3em;
            transition: width 0.3s ease;
            text-indent: 1em;
        }

        .search-results {
            position: absolute;
            top: 100%;
            width: 100%;
            background: var(--main-text);
            border: 1px solid var(--main-subtext);
            border-radius: 5px;
            max-height: 20em;
            overflow-y: auto;
            z-index: 10;
            display: none;
        }

        .search-results p {
            padding: 2em;
            margin: 0;
            cursor: pointer;
            color: var(--nav-bg);
            transition: 0.3s ease;
        }
        
        .search-results p:hover {
            background: var(--main-subtext);
        }
        /* End search bar */

        /* Star  Links */

        .link-list {
            list-style: none;
            display: flex;
            flex-direction: row;
            gap: 1em;
            padding-left: 2em;
            cursor: default;
        }

        .link-list > li:not(.exception) {
            transition: 300ms ease-in-out;
            cursor: pointer;
        }

        .link-list > li:hover {
            color: var(--accent);
        }

        .nav-pfp {
            width: 1.5em;
            border-radius: 100%;
        }

        /* End links*/
    /* End nav*/

</style>
<nav>
    <div class="super-nav">
        <span>
            <i class="fas fa-map-marker-alt"></i>
            <span>Rowan University, Glassboro NJ, 08028</span>
        </span>
        <span>
            <i aria-hidden="true" class="far fa-envelope"></i>
            <span>support@youscreen.com</span>
        </span>
        <span>
            <i class="fab fa-facebook"></i>
            <i class="fab fa-youtube" style="padding: 0 0.25em"></i>
            <i class="fa-brands fa-x-twitter"></i>
        </span>
    </div>
    <div class="nav-wrapper">
        <div class="logo">
            <a style="text-decoration:none;color:var(--nav-text);" href="/"><h1><span class="you" style="color:var(--accent)">You</span>Screen</h1></a>
        </div>

        <div class="search">
            <input type="text" class="search-bar" id="searchbar" placeholder="Search YouScreen!">
            <div id="search-results" class="search-results"></div>
        </div>

        <div class="links">
            <ul class="link-list">
                <li><a style="text-decoration:none;color:var(--nav-text);" href="/Movies">Movies</a></li>
                <li>Discussions</li>
                <li><a style="text-decoration:none;color:var(--nav-text);" href="/Community">Community</a></li>
                <li class="exception" style="color:var(--accent)">||</li>
                <% if(!loggedin) { %>
                    <li><a style="text-decoration:none;color:var(--nav-text);" href="/Login">Login</a></li>
                    <li><a style="text-decoration:none;color:var(--nav-text);" href="/Signup">New Here?</a></li>
                <% } else { %>
                    <li>
                        <a style="text-decoration:none;color:var(--nav-text);" href="/Profile">
                            <img class="nav-pfp" src="/imgs/defaultPFP.png">
                        </a>
                    </li>
                    <li><a style="text-decoration:none;color:var(--nav-text);" href="/Logout">Logout</a></li>
                <% } %>
            </ul>
        </div>
    </div>
</nav>

<script src="/js/search.js"></script>