<style>

    body {
        display: grid;
        grid-template-areas: 
        "nav nav"
        "side main";
        grid-template-rows: auto 1fr;
        grid-template-columns: 15% auto;
    }
    
    nav {
        grid-area: nav;
        background-color: var(--nav-bg);
        display: flex;
    }

    .nav-container-one {
        width: 15%;
    }

    .nav-container-two {
        display: flex;
        gap: 2em;
        align-items: center;
        flex-grow: 1;
        min-width: 0;
    }
    

    .logo {
        text-align: center;
        padding-top: 1em;
    }

    .header-logo {
        display: inline;
        height: 2.5em;
        width: auto;
    }

    .search {
        display: flex;
        flex-grow: 1; 
        justify-content: center;
        position: relative;
        max-width: 100%;
        min-width: 0;
    }
    
    
    .search-bar {
        flex: 1 1 auto;
        min-width: 10em;
        max-width: 40em;
        height: 2em;
        border-top-right-radius: 0.3em;
        border-bottom-right-radius: 0.3em;
        transition: width 0.3s ease;
        text-indent: 1em;
    }
    
    
    .search-icon-container {
        height: 1.55em;
        width: 2.75em;
        border: 1px solid grey;
        background-color: grey;
        border-top-left-radius: 1.5em;
        border-bottom-left-radius: 1.5em;
        text-align: center;
    }
    
    .search-icon {
        padding-top: 0.2em;
    }
    
    .links {
        display: flex;
        list-style: none;
        gap: 2em;
        color: var(--nav-links);
        padding-right: 2em;
        font-size: 1em;
    }

    .rm-style {
        text-decoration: none;
        color: var(--main-main-text);
        transition: 300ms ease;
    }

    .rm-style:hover {
        color: grey;
    }

    .links > span {
        cursor: pointer;
        transition: 300ms ease;
    }

    .links > span:hover {
        color: grey;
    }

    /* Sidebar */

    .side {
        grid-area: side;
        background-color: var(--nav-bg);
        width: 100%;
        min-width: 10em;
        height: auto;
        padding-top: 2em;
    }
    
    .side-links {
        list-style: none;
        padding-left: 0.3em;
        color: var(--nav-links);
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.5em;
    }

   .transition  > li {
        text-align: center;
        transition: 300ms ease;
        cursor: pointer;
    }

    .transition > li:hover {
        color: grey;
    }

    /* Tables */
    table, tr, td {
        border: 1px solid var(--main-subtext);
        border-collapse: collapse;
    }

    td {
        height: 2em;
        text-align: center;
    }

    .search-results {
        position: absolute;
        top: 100%;
        right: 0;
        width: 100%;
        background: white;
        border: 1px solid #ccc;
        border-radius: 5px;
        max-height: 20em;
        overflow-y: auto;
        z-index: 10;
        display: none;
    }

    .search-results p {
        padding: 2em;
        margin: 0;
        cursor: pointer;
        transition: 0.3s ease;
    }
    
    .search-results p:hover {
        background: #f0f0f0;
    }

    .pfpImage {
        width: 2em;
        border-radius: 100%;
    }
</style>
<nav>
    <div class="nav-container-one">
        <div class="logo">
            <a href="/"><img class="header-logo" src="/imgs/IMDB.jpg"></a>
        </div>
    </div>
    <div class="nav-container-two">
        <div>
            <ul class="links transition">
                <a href="/Movies" class="rm-style"><li>Movies</li></a>
                <li>Discussions</li>
                <li>Watch</li>
                <li>Help</li>
            </ul>
        </div>
        <div class="search">
            <div class="search-icon-container">
                <i class="fa-solid fa-magnifying-glass search-icon"></i>
            </div>
            <input type="text" class="search-bar" id="searchbar" placeholder="Search YouScreen!">
            <div id="search-results" class="search-results"></div>
        </div>
        <div class="links">
            <% if(!loggedin) { %>
                <a href="/Login" class="rm-style"><span>Login</span></a>
                <a href="/Signup" class="rm-style"><span>New User?</span></a>
            <% } else { %>
                <span><%= username %></span>
                <a href='/Logout' class="rm-style"><span>Logout</span></a>
            <% } %>
        </div>
    </div>
</nav>

<div class="side">
    <ul class="side-links transition">
        <%if (!loggedin) {%>
            <a href='/Login' class="rm-style">
                <li>Not logged in</li>
            </a>
        <% } else { %>
            <li>
                <img class="pfpImage" src="/imgs/defaultPFP.png">
            </li>
        <% } %>
        <a href="/Profile" class="rm-style">
            <li>Profile</li>
        </a>
        <li>Library</li>
        <li>Community</li>
        <li>Groups</li>
        <li>Hype Leaderboard</li>
        <li>See Rules</li>
        <li>About Us</li>
    </ul>
</div>

<script src="/js/search.js"></script>