<style>

    body {
        display: grid;
        grid-template-areas: 
        "side nav"
        "side main";
        grid-template-rows: auto 1fr;
        grid-template-columns: 15% auto;
        background-color: var(--surface2-dark);
    }
    
    nav {
        grid-area: nav;
        background-color: var(--surface1-dark);
        display: flex;
        height: 4em;
    }

    .nav-container-two {
        display: flex;
        gap: 2em;
        align-items: center;
        justify-content: space-between;
        flex-grow: 1;
        min-width: 0;
    } 

    .logo {
        text-align: center;
        padding-top: 1em;
    }

    .header-logo {
        display: inline;
        height: 2.5em;
        width: auto;
    }

    .search {
        display: flex;
        flex-direction: column;
        flex-grow: 1; 
        justify-content: center;
        position: relative;
        max-width: 100%;
        min-width: 0;
    }
    
    .search-bar {
        flex: 1 1 auto;
        min-width: 10em;
        max-width: 40em;
        height: 2em;
        border-radius: 0.3em;
        transition: width 0.3s ease;
        text-indent: 1em;
    }
    
    .links {
        display: flex;
        list-style: none;
        gap: 2em;
        color: var(--text1-dark);
        padding-right: 2em;
        font-size: 1em;
    }

    .rm-style {
        text-decoration: none;
        color: var(--text1-dark);
        transition: 300ms ease;
    }

    .rm-style:hover {
        color: grey;
    }

    .links > span {
        cursor: pointer;
        transition: 300ms ease;
    }

    .links > span:hover {
        color: grey;
    }

    /* Sidebar */

    .side {
        grid-area: side;
        background-color: var(--surface1-dark);
        width: 100%;
        min-width: 10em;
        height: auto;
    }
    
    .side-links {
        list-style: none;
        padding-left: 0.3em;
        color: var(--text1-dark);
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.5em;
    }

   .transition  > li {
        text-align: center;
        transition: 300ms ease;
        cursor: pointer;
    }

    .transition > li:hover {
        color: grey;
    }

    .search-results {
        position: absolute;
        top: 100%;
        width: 100%;
        background: white;
        border: 1px solid #ccc;
        border-radius: 5px;
        max-height: 20em;
        overflow-y: auto;
        z-index: 10;
        display: none;
    }

    .search-results p {
        padding: 2em;
        margin: 0;
        cursor: pointer;
        transition: 0.3s ease;
    }
    
    .search-results p:hover {
        background: #f0f0f0;
    }

    .pfpImage {
        width: 2em;
        border-radius: 100%;
    }

    /* Hamburger menu */

    .hamburger {
        display: none;
        cursor: pointer;
        font-size: 2em;
        color: var(--text1-dark);
    }

    .hamburger div {
        width: 7em;
        height: 5em;
        background-color: var(--text1-dark);
        transition: 0.3s;
    }

    @media screen and (max-width: 70em) {
        .links {
            display: none;
            flex-direction: column;
            position: absolute;
            top: 4em;
            right: 0;
            background: var(--surface1-dark);
            width: 200px;
            padding: 1em;
            z-index: 100;
        }

        .search-bar {
            width: 40em;
            max-width: 60em;
            align-self: center;
        }

        .links.active {
            display: flex;
        }
    
        .hamburger {
            display: flex;
            padding-top: 0.5em;
            padding-right: 1em;
        }
    }

    @media screen and (max-width: 50em) {
        .search-bar {
            width: 20em;
        }
    }

    @media screen and (max-width: 35em) {
        .search-bar {
            width: 10em;
        }
    }

</style>
<nav>
    <div class="nav-container-two">
        <div>
            <ul class="links transition">
                <li><a href="/Movies" class="rm-style">Movies</a></li>
                <li>Discussions</li>
                <li>Watch</li>
                <li>Help</li>
            </ul>
        </div>
        <div class="search">
            <input type="text" class="search-bar" id="searchbar" placeholder="Search YouScreen!">
            <div id="search-results" class="search-results"></div>
        </div>
        <div class="links">
            <% if(!loggedin) { %>
                <a href="/Login" class="rm-style"><span>Login</span></a>
                <a href="/Signup" class="rm-style"><span>New User?</span></a>
            <% } else { %>
                <span><%= username %></span>
                <a href='/Logout' class="rm-style"><span>Logout</span></a>
            <% } %>
        </div>
    </div>

    <div class="hamburger" id="hamburger">
        <i class="fa-solid fa-bars"></i>
    </div>
</nav>

<div class="side">
    <ul class="side-links transition">
        <li>
            <div class="logo">
                <a href="/"><img class="header-logo" src="/imgs/IMDB.jpg"></a>
            </div>
        </li>
        <%if (!loggedin) {%>
            <a href='/Login' class="rm-style">
                <li>Not logged in</li>
            </a>
        <% } else { %>
            <li>
                <img class="pfpImage" src="/imgs/defaultPFP.png">
            </li>
        <% } %>
        <a href="/Profile" class="rm-style">
            <li>Profile</li>
        </a>
        <li>Library</li>
        <a href="/Community" class="rm-style">
            <li>Community</li>
        </a>
        <li>Groups</li>
        <li>Hype Leaderboard</li>
        <li>See Rules</li>
        <li>About Us</li>
    </ul>
</div>

<script src="/js/search.js"></script>