<style>

    body {
        display: grid;
        grid-template-areas: 
        "nav nav nav"
        "side main side-two";
        grid-template-rows: auto 1fr;
        grid-template-columns: 15% auto 15%;
    }
    
    nav {
        grid-area: nav;
        background-color: var(--nav-bg);
        display: flex;
    }

    .nav-container-one {
        width: 15%;
    }

    .nav-container-two {
        display: flex;
        gap: 2em;
        align-items: center;
        width: 80%;
        margin-left: auto;
    }

    .logo {
        text-align: center;
        padding-top: 1em;
    }

    .header-logo {
        display: inline;
        height: 2.5em;
    }

    .search {
        display: flex;
        flex-grow: 1;
        justify-content: center;
        position: relative;
    }
    
    .search-bar {
        flex-grow: 1;
        width: 90%;
        min-width: 10em;
        max-width: 60em;
        height: 2em;
        border-top-right-radius: 0.3em;
        border-bottom-right-radius: 0.3em;
        transition: width 0.3s ease;
        text-indent: 1em;
    }
    
    .search-icon-container {
        height: 1.55em;
        width: 2.75em;
        border: 1px solid grey;
        background-color: grey;
        border-top-left-radius: 1.5em;
        border-bottom-left-radius: 1.5em;
        text-align: center;
    }
    
    .search-icon {
        padding-top: 0.2em;
    }
    
    .links {
        display: flex;
        list-style: none;
        gap: 2em;
        color: var(--nav-links);
        padding-right: 2em;
        font-size: 1em;
    }

    .links > a {
        text-decoration: none;
        color: var(--main-main-text);
        transition: 300ms ease;
    }

    .links > a:hover {
        color: grey;
    }

    .links > span {
        cursor: pointer;
        transition: 300ms ease;
    }

    .links > span:hover {
        color: grey;
    }

    /* Sidebar */

    .side {
        grid-area: side;
        background-color: var(--nav-bg);
        width: 100%;
        height: auto;
        padding-top: 2em;
    }

    .side-two {
        padding: 2em;
        grid-area: side-two;
        background-color: var(--nav-bg);
        display: flex;
        flex-direction: column;
        gap: 5em;
    }
    
    .side-links {
        list-style: none;
        padding-left: 0.3em;
        color: var(--nav-links);
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.5em;
    }

    .transition > li {
        text-align: center;
        transition: 300ms ease;
        cursor: pointer;
    }

    .transition > li:hover {
        color: grey;
    }

    /* Tables */
    table, tr, td {
        border: 1px solid var(--main-subtext);
        border-collapse: collapse;
    }

    td {
        height: 2em;
        text-align: center;
    }

    .table-head {
        color: var(--nav-links);
    }

    .movTitle {
        color: var(--nav-links);
    }

    .num {
        color: var(--nav-links);
    }
</style>
<nav>
    <div class="nav-container-one">
        <div class="logo">
            <a href="/"><img class="header-logo" src="/imgs/IMDB.jpg"></a>
        </div>
    </div>
    <div class="nav-container-two">
        <div>
            <ul class="links transition">
                <li>Movies</li>
                <li>Discussions</li>
                <li>Watch</li>
                <li>Help</li>
            </ul>
        </div>
        <div class="search">
            <div class="search-icon-container">
                <i class="fa-solid fa-magnifying-glass search-icon"></i>
            </div>
            <input type="text" class="search-bar" placeholder="Search YouScreen!">
        </div>
        <div class="links">
            <% if(!loggedin) { %>
                <a href="/Login"><span>Login</span></a>
                <a href="/Signup"><span>Signup</span></a>
            <% } else { %>
                <span><%= username %></span>
                <a href='/Logout'><span>Logout</span></a>
            <% } %>
        </div>
    </div>
</nav>

<div class="side">
    <ul class="side-links transition">
        <%if (!loggedin) {%>
            <li>Not logged in</li>
        <% } else { %>
            <li><%= username %></li>
        <% } %>
        <li>Updates</li>
        <li>Library</li>
        <li>Profile</li>
        <li>Community</li>
        <li>Forums</li>
        <li>Groups</li>
        <li>Users</li>
        <li>YouScreen</li>
        <li>See Rules</li>
        <li>Announcements</li>
        <li>About Us</li>
    </ul>
</div>

<div class="side-two">
    <% for (let i=0; i < 2; i++) { %>
        <table class="weekly">
            <thead>
                <tr>
                    <% if(i == 0) {%>
                        <th class="table-head" colspan="2">Weekly Hype</th>
                    <% } else {%>
                        <th class="table-head" colspan="2">Monthly Hype</th>
                    <% } %>
                </tr>
            </thead>
            <% for (let j=0; j < 5; j++) { %>
                <tr>
                    <td class="num"><%= j + 1 %></td>
                    <td class="movTitle">Title</td>
                </tr>
            <% } %>
        </table>
    <% } %>
</div>