<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("partials/head.ejs") %>
    <%- include ("partials/movieVars.ejs") %>
    <title>Home</title>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <%- include ("partials/navbar.ejs") %>

    <main class="main">
        <div class="image-container">
            <img class="top-image" src="/imgs/backgrounds/home/top-bg.png">
            <h1 class="img-main-text">Movie reviews for <span class="custom-text you">you</span>,<br> by <span class="custom-text you">you</span></h1>
            <p class="img-subtext">YouScreen is a revolutional approach for the avid movie lover. With YouScreen,<br> the only opinion that matters is yours!</p>
        </div>

        <div class="trending">
            <div class="trending-wrapper">
                <div class="trending-text">
                    <h1>So, what's trending now?</h1>
                </div>
                <div class="trending-movies">
                    <img class="movie" src="/imgs/testPoster.jpg">
                    <img class="movie" src="/imgs/testPoster.jpg">
                    <img class="movie" src="/imgs/testPoster.jpg">
                    <img class="movie" src="/imgs/testPoster.jpg">
                    <img class="movie" src="/imgs/testPoster.jpg">
                    <img class="movie" src="/imgs/testPoster.jpg">
                </div>
            </div>
        </div>

        <div class="tutorial">
            <img class="second-img" src="/imgs/backgrounds/home/second-bg.jpg">
            <h1 class="img-main-text img-text-two">How do I use <span style="color:var(--accent);font-family:'Poppins', serif">You</span>Screen?</h1>
            <p class="subtext-two">Read below for an explanation and tutorial on how to get the most out of our custom movie reviewing experience!</p>
        </div>
    </main>
</body>
</html>