<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("partials/head.ejs") %>
    <%- include ("partials/movieVars.ejs") %>
    <title>Home</title>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <%- include ("partials/navbar.ejs") %>

    <main class="main">
        <!-- Central Area -->
         <div class="central">
            <section class="trending">
                <div class="poster">
                    <img src="imgs/testPoster.jpg">
                </div>
                <div class="info">
                    <h1>Trending: Title of movie</h1>
                    <p>Genre and Year</p>
                </div>
                <div class="synopsis">
                    Arthur Fleck, a party clown and a failed 
                    stand-up comedian, leads an impoverished life
                    with his ailing mother. However, when society
                    shuns him and brands him as a freak, he 
                    decides to embrace the life of chaos in Gotham City.
                </div>
            </section>
            <section class="favorite-discussion-one"></section>
            <section class="favorite-discussion-two"></section>
        </div>
    </main>
</body>
</html>