<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("partials/head.ejs") %>
    <%- include ("partials/movieVars.ejs") %>
    <title>Home</title>
    <link rel="stylesheet" href="/css/profile.css">
</head>
<body>
    <%- include ("partials/navbar.ejs") %>
    <main>
        <div class="head-photo-container">
            <img class="top-photo" src="/imgs/backgrounds/profile/header.jpg">
            <img src="/imgs/defaultPFP.png" class="profile-picture">
            <h1 class="name">Welcome, <span class="you" style="color:var(--accent)"><%= username %></span></h1>
        </div>
        <div class="spacer"></div>
        <div class="info-wrapper">
            <div class="bio-wrapper areas">
                <div class="bio"></div>
            </div>
            <div class="favorite-wrapper areas">
                <div class="favorite"></div>
            </div>
            <div class="hype-wrapper areas">
                <div class="hype"></div>
            </div>
        </div>
    </main>
</body>
</html>