/* body {
    display: grid;
    grid-template-areas: 
    "nav"
    "main"
    "footer";
    grid-template-rows: auto 1fr auto;
} */

main {
    grid-area: main;
    background-color: var(--main-bg);
    display: grid;
    place-items: center;
    /* border: 1px solid black; */
    overflow-y: auto;
    height: 100%;
}

.main-info {
    height:auto;
    width: 80%;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row;
    align-items: center;
}

.poster {
    border-radius: 0.5em;
    flex-shrink: 0;
}

.total-info {
    padding-left: 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.little-info {
    display: flex;
    gap: 1em;
    color: var(--main-subtext);
    font-size: 0.9em;
}

.summary {
    color: var(--main-main-text);
    padding-top: 1em;
}

.people-container {
    padding-top: 0.5em;
}

.people-container > span {
    color: var(--main-subtext);
}

.title {
    color: var(--main-title);
    font-weight:500;
    font-size: 2.75em;
}

.award-info {
    height:auto;
    width: 80%;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--main-subtext);
}

.main-info, .award-info {
    background-color: var(--nav-bg);
    border-radius: 1em;
    min-width: 40em;
}

.award-title {
    text-align: center;
    color: var(--main-title)
}