main {
    display: grid;
    grid-area: main;
    grid-template-areas: "central";

    height: 100%;
    width: 100%;
    align-self: center;
    justify-self: center;
    z-index: 1000;
    color: var(--main-subtext);
    overflow-y: scroll;
}

.bg {
    text-align: center;
    box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.2);
    padding-bottom: 1em;
    top: 0;
    position: sticky;
    background-color: var(--nav-bg);
}

.bg > h1 {
    color: var(--main-text);
}

.votes {
    color: var(--text2-dark);
    font-size: 0.75em;
}

.movies-container {
    grid-area: central;
    justify-self: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.movies {
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.poster {
    width: 20vw;
    height: 18em;
    cursor: pointer;
}