main {
    grid-area: main;
    grid-template-rows: 20% 80%;
    color: var(--main-text);
}

/* Head photo */

.head-photo-container {
    width: 100vw;
}

.top-photo {
    width: 100vw;
    position: relative;
}

.profile-picture {
    width: 15em;
    border-radius: 100%;
    left: 10em;
    bottom: 40%;
    position: absolute;
}

.name {
    left: 7em;
    bottom: 50%;
    position: absolute;
    font-size: 4em;
}

/* End head photo */

.spacer {
    height: 2em;
}

/* Start info */

.info-wrapper {
    grid-area: profile-info;
    width: 90%;
    height: 100%;
    justify-self: center;
    display: grid;
    grid-template-areas:
    "bio bio"
    "favorite hype";
    grid-template-rows: 20% 80%;
    grid-template-columns: 50% 50%;
    justify-content: center;
}

.bio-wrapper {
    grid-area: bio;
    height: 90%;
    width: 100%;
}

.favorite-wrapper {
    grid-area: favorite;
    width: 95%;
    justify-self: flex-start;
}

.hype-wrapper {
    grid-area: hype;
    width: 95%;
    justify-self: flex-end;
}

/* End info */