main {
    display: grid;
    grid-area: main;
    grid-template-areas: "central";

    height: 100%;
    width: 100%;
    align-self: center;
    justify-self: center;
    z-index: 1000;
    color: var(--text1-dark);
    overflow-y: scroll;
}

h1 {
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: var(--surface2-dark);
    display: block;
    box-shadow: 5px 5px 15px var(--surface-shadow-dark);
}

.bg {
    position: sticky;
    padding-bottom: 1em;
    top: 0;
}

.votes {
    color: var(--text2-dark);
    font-size: 0.75em;
}

.movies-container {
    grid-area: central;
    justify-self: center;
    padding-top: 1em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.movies {
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.poster {
    height: 15em;
    cursor: pointer;
}