main {
    grid-area: main;
    display: grid;
    align-items: center;
    justify-content: center;
    background-image: url('/imgs/backgrounds/signup-login/signup-bg.jpg');
}

.login-container {
    display: flex;
    flex-direction: row;
    height: 25em;
    width: 60em;
    border-radius: 3em;
    background-color: var(--main-text);
}

.login-form {
    width: 50%;
    display: grid;
    grid-template-rows: 20% 60% 20%;
    grid-template-columns: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.login-header {
    grid-row: 1;
}

.inputs {
    grid-row: 2;
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 80%;
    justify-self: center;
}

.username, .password, .password-conf {
    height: 4em;
    border-radius: 3em;
    transition: 300ms ease-in-out;
    padding-left: 1em;
    text-align: center;
}

.username:focus, .password:focus, .password-conf:focus {
    border: 0.25em solid var(--accent);
}

.submit {
    height: 2em;
    border-radius: 3em;
    cursor: pointer;
    transition: 300ms ease-in-out;
}

.submit:hover {
    background-color:var(--main-subtext);
}

.message {
    grid-column: 3;
}

.sidebar {
    width: 50%;
    border-radius: 3em;
    background-color: var(--accent);
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--main-text);
}

.wrapper p {
    color: var(--main-subtext);
}