<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("../partials/head.ejs") %>
    <%- include ("../partials/movieVars.ejs") %>
    <title>Signup</title>
    <link rel="stylesheet" href="/css/topNavBar/signup.css">
</head>
<body>
    <%- include ("../partials/navbar.ejs") %>
    
    <main class="main">
        <form action="/Signup" method="POST" class="signup-form">
            <h1 class="signup-header">Signup</h1>
            <div class="inputs">
                <input type="text" class="username" name="user" placeholder="Username">
                <input type="password" class="password" name="pass" placeholder="Password">
                <input type="password" class="password-conf" name="passconf" placeholder="Confirm Password">
                <button class="submit">Signup</button>
            </div>
            <p class="message"> <%= err %> </p>
        </form>
    </main>

</body>
</html>